@font-face {
  font-family: "KhmerOScontent";
  src: url("./fonts/KhmerOScontent.eot"); /* IE9 Compat Modes */
  src: url("./fonts/KhmerOScontent.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/KhmerOScontent.otf") format("opentype"), /* Open Type Font */
    url("./fonts/KhmerOScontent.svg") format("svg"), /* Legacy iOS */
    url("./fonts/KhmerOScontent.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/KhmerOScontent.woff") format("woff"), /* Modern Browsers */
    url("./fonts/KhmerOScontent.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AngDaunPov";
  src: url("./fonts/DaunPov.eot"); /* IE9 Compat Modes */
  src: url("./fonts/DaunPov.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/DaunPov.otf") format("opentype"), /* Open Type Font */
    url("./fonts/DaunPov.svg") format("svg"), /* Legacy iOS */
    url("./fonts/DaunPov.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/DaunPov.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DaunPov.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}